
@{
  Layout = "_Layout";
}
<div id="color"> 
  <div class="container">
  <h1>Welcome to Battle of the Restaurants!</h1>

  <p>@Html.ActionLink("See all restaurants", "Index", "Restaurants")</p>
  <p>@Html.ActionLink("See all cuisine", "Index", "Cuisines")</p>
  </div>
</div>

<div id="img"></div>
